* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    opacity: 0.400;
    width: 1400px;
    height: 772px;
    border-radius: 16px;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 76%, rgba(0, 0, 0, 0.9999999999999999) 100%);
    border: 1px solid #000000;


}

main {
    width: 1400px;
}

/* Discover section */
section.discover {
    width: 1400px;
    height: 654px;
    /* 542px in fig file */
    /* margin-bottom: 100px; */
    /* background-color: beige; */
}

div.discover-p-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1400px;
    height: 252px;
}

p.discover-head {
    width: 663px;
    height: 96px;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
    font-weight: 500;
    font-family: "DM Sans";
    text-align: center;
    margin-bottom: 20px;
}

p.discover-description {
    width: 460px;
    height: 46px;
    font-size: 18px;
    color: #000000;
    font-weight: 400;
    font-family: "DM Sans";
    text-align: center;
    margin-bottom: 40px;
}

div.discover-img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    width: 1400px;
    height: 400px;
    margin: 0 0 0 0;
}

div.img-wrapper {
    width: 430px;
    height: 400px;
    position: relative;

    /* height: 135px; */
    /* border-radius: 16px; */
    /* background-image: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9999999999999999) 100%); */
    /* z-index: 1; */
}

img.narrow {
    width: 430px;
    height: 400px;
    border-radius: 16px;
}

p.caption {
    font-size: 28px;
    color: #ffffff;
    font-weight: 400;
    font-family: "DM Sans";
    position: absolute;
    left: 7%;
    bottom: 0;
    word-spacing: 400px;
}

section.platform {}

/* Plan section */
section.plan {
    width: 1400px;
    height: 737px;
    /* 542px in fig file */
    margin-bottom: 100px;
    /* background-color: aqua; */
}

div.plan-p-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1400px;
    height: 252px;
}

p.plan-head {
    width: 720px;
    height: 48px;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
    font-weight: 500;
    font-family: "DM Sans";
    text-align: center;
    margin-bottom: 20px;
}

p.plan-description {
    width: 720px;
    height: 42px;
    font-size: 16px;
    color: #4f4f53;
    font-weight: 400;
    font-family: "DM Sans";
    text-align: center;
    margin-bottom: 40px;
}

div.plan-img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    width: 1400px;
    height: 400px;
    margin-bottom: 40px;
}

div.plan-img-wrapper {
    width: 430px;
    height: 400px;
    position: relative;

    /* height: 135px; */
    /* border-radius: 16px; */
    /* background-image: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9999999999999999) 100%); */
    /* z-index: 1; */
}

img.narrow {
    width: 430px;
    height: 400px;
    border-radius: 16px;
}

div.infobox-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;
    width: 414px;
    height: 119px;
    border-radius: 16px;
    background-color: #ffffff;

    position: absolute;
    left: 2%;
    bottom: 2%;
}

p.infobox-name {
    font-size: 18px;
    color: #000000;
    font-weight: 400;
    font-family: "DM Sans";
    margin: 0 0 0 15px;
}

p.infobox-place {
    font-size: 14px;
    color: #4f4f53;
    font-weight: 500;
    font-family: "DM Sans";
    margin: 0 0 18px 15px;
}

p.infobox-price {
    font-size: 20px;
    color: #000000;
    font-weight: bold;
    font-family: "DM Sans";
    /* D MSans in fig file */
    margin: 0 0 18px 15px;
}

div.infobox-knob {
    width: 54px;
    height: 22px;
    border-radius: 11px;
    background-color: #f2dbb1;
    margin: 0 0 18px 25px;
    /* flex-basis: 100%; */
}

p.infobox-rate {
    font-size: 14px;
    color: #dd9115;
    font-weight: 500;
    font-family: "DM Sans";
    margin: 0 auto;
    text-align: center;

}

div.explore-more {
    width: 142px;
    height: 45px;
    border-radius: 23px;
    background-color: #000000;
    margin: 0 auto;
    padding-top: 10px;
}

span.explore-more {
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
    font-family: "DM Sans";
    /* D MSans in fig file */
    margin-left: 19px;    
}

section.review {}

/* Explore Section */
section.explore {
    width: 1400px;
    height: 306px;
    background-color: #ffffff;
    /* background-color: beige; */
}

div.explore-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 50px 0 50px;

    width: 1216px;
    height: 226px;
    border-radius: 16px;
    background-color: #f5f5f5;
    margin: 0 auto 50px;
}

p.ready-to-explore {
    width: 548px;
    height: 36px;
    font-size: 28px;
    color: #000000;
    font-weight: 400;
    font-family: "DM Sans";
    margin: 10px 10px 10px 10px;
}

p.start-your-journey {
    width: 548px;
    height: 46px;
    font-size: 18px;
    color: #4f4f53;
    font-weight: 400;
    font-family: "DM Sans";
    margin: 10px 10px 10px 10px;
}

div.explore-buttons {
    flex-basis: 50%;
    align-self: flex-end;
}

button.learn-more {
    width: 128px;
    height: 45px;
    border-radius: 23px;
    border: 1px solid #4f4f53;
    margin-right: 10px;
}

span.learn-more {
    font-size: 16px;
    color: #4f4f53;
    font-weight: bold;
    font-family: "DM Sans";
    /* D MSans in fig file */
    text-align: center;
}

button.start-your-adventure {
    width: 202px;
    height: 45px;
    border-radius: 23px;
    background-color: #000000;
}

span.start-your-adventure {
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
    font-family: "DM Sans";
    /* D MSans in fig file */
    text-align: center;
}

/* Footer */
footer {
    width: 1400px;
    height: 309px;
    border-radius: 16px;
    background-color: #000000;
}